@import "tailwindcss";

@keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@theme {
  --animate-fade-in: fade-in 0.150s cubic-bezier(0.4, 0, 0.2, 1);
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *::before *::after {
  box-sizing: border-box;
  @apply outline-stone-400;
}


body {
  @apply bg-stone-50 text-stone-800 text-base;
}

html:has(dialog[open]:modal) {
  overflow: hidden;
  scrollbar-gutter: stable;
}
