@import 'tailwindcss';

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-card {
  0% {
    opacity: 0.7;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@theme {
  --animate-fade-in: fade-in 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  --animate-fade-in-card: fade-in-card 0.5s cubic-bezier(0.4, 0, 0.2, 1);

  --default-font-family: 'Martian Mono', monospace;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  *,
  *::before,
  *::after {
    @apply box-border outline-indigo-500 outline-dashed outline-0;

    &:focus-visible {
      @apply outline-2 outline-offset-2;
    }
  }

  body {
    @apply bg-zinc-50 text-zinc-700 text-base;
  }

  html:has(dialog[open]:modal) {
    overflow: hidden;
    scrollbar-gutter: stable;
  }
}
