@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  *,
  *::before,
  *::after {
    @apply box-border outline-dashed outline-0 outline-indigo-500;

    &:focus-visible {
      @apply outline-2 outline-offset-2;
    }
  }

  body {
    @apply bg-zinc-50 font-mono text-base text-zinc-700;
  }

  html:has(dialog[open]:modal) {
    overflow: hidden;
    scrollbar-gutter: stable;
  }
}
